@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

@import './lib/nprogress';

@import './_variables';
@import './components/authnav';

input:invalid {
    box-shadow: none;
}

body, html {
    font-family: 'Roboto', sans-serif;
}